<div class="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [markers]="chartOptions.markers"
      [grid]="chartOptions.grid"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
    ></apx-chart>
</div>
<div class="chart">
  <apx-chart
    [series]="chartOptions1.series"
    [chart]="chartOptions1.chart"
    [yaxis]="chartOptions1.yaxis"
    [xaxis]="chartOptions1.xaxis"
    [labels]="chartOptions1.labels"
    [stroke]="chartOptions1.stroke"
    [title]="chartOptions1.title"
    [dataLabels]="chartOptions1.dataLabels"
    [fill]="chartOptions1.fill"
    [tooltip]="chartOptions1.tooltip"
  ></apx-chart>
</div>
  