<div>
    <ngx-charts-bar-vertical 
        [view]="[700, 400]" 
        [scheme]="colorScheme" 
        [results]="single" 
        [gradient]="gradient"
        [xAxis]="showXAxis" 
        [yAxis]="showYAxis" 
        [legend]="showLegend" 
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" 
        [xAxisLabel]="xAxisLabel" 
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
</div>
<div>
    <ngx-charts-pie-chart 
        [view]="[1000, 400]" 
        [scheme]="colorScheme" 
        [results]="single" 
        [gradient]="gradient"
        [legend]="showLegend" 
        [labels]="showLegend" 
        [doughnut]="isDoughnut"
        >
    </ngx-charts-pie-chart>
</div>
<div>
    <ngx-charts-bar-vertical-2d
  [results]="dataMulti"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showDataLabel]="true"
  [scheme]="colorScheme">
    </ngx-charts-bar-vertical-2d>
</div>